*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .buttons1 {
    text-align: center;
    width: 40%;
    position: absolute;
    left: -50%;
    right: 0;
    margin: auto;
    top: 125%;
    opacity: 100;
    margin-bottom: -100%;
  }
  .blob-btn1 {
    width: 30%;
    right: 150px;
    top: -500px;
    z-index: 1;
    position: absolute;
    padding: 20px 40px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color:#bcf5ea;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
  }
  .blob-btn1:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 6px solid #bcf5ea;
  }
  .blob-btn1:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 9px;
    top: 9px;
    width: 100%;
    height: 100%;
    border: 6px solid #6e6e6e;
    transition: all 0.3s 0.2s;
  }
  .blob-btn1:hover {
    color: #6e6e6e;
  }
  .blob-btn1:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
  }
  .blob-btn__inner1 {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .blob-btn__blobs1 {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  .blob-btn__blob1 {
    position: absolute;
    top: 6px;
    width: 25%;
    height: 100%;
    background: #bcf5ea;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
  }
  @supports (filter: url('#goo')) {
    .blob-btn__blob1 {
      transform: translate3d(0, 150%, 0) scale(1.4);
    }
  }
  .blob-btn__blob1:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
  }
  .blob-btn__blob1:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
  }
  .blob-btn__blob1:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
  }
  .blob-btn__blob1:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
  }
  .blob-btn1:hover .blob-btn__blob1 {
    transform: translateZ(0) scale(1.7);
  }
  @supports (filter: url('#goo')) {
    .blob-btn1:hover .blob-btn__blob1 {
      transform: translateZ(0) scale(1.4);
    }
  }